@import 'modules/mixin.scss';

div {
  background-color: $bg_color;
  background-image: url("../img/sample.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 400px;
}
p {
  color:  $color;
}
